/* general */

header {
  display: flex;
  justify-content: center;
  align-items: center; /* Optional: vertically center if header has height */
}

body {
  background-color:#E9DAC5;
  margin: 0;
}

.Platzhalter{
  width: 100%;
  height: 300px;
}

.Platzhalter-klein{
  width: 100%;
  height: 100px;
}

#logo {
  padding-top: 50px;
  display: block; /* So it only takes the size of its content (the image) */
}

#logo img{
    width: 150px;
}

/* navigation */

nav {
  display: flex;
  justify-content: center; /* Centers the nav items horizontally */
  align-items: center;    /* Centers the nav items vertically */
  height: 60px;           /* Optional: Set height for the nav bar */
}

nav ul {
    list-style: none;
    display: flex;
    gap: 100px;
    padding: 0;
}

nav a {
    color: #4C6B3C;
    text-decoration: none;
    font-size: 20px;
}

nav a:hover {
    color: #911d0e;
}

.navigation {
  padding-top: 20px;
}

/* pagina iniziale */

#Name-Startseite {
    position: absolute; /* Bleibt fest innerhalb der Slideshow */
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10; /* Stellt sicher, dass sie über den Slides bleiben */
    text-align:center;
    color: #911d0e;
    font-size: 50px;
}

/* la famiglia */
.famiglia-container {
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    gap: 100px;
    margin: 0 100px 0 100px;
}

.famiglia-container img {
    max-width: 500px; /* Adjust size as needed */
}

p {
    font-size: 18px;
    color: #4C6B3C;
    line-height: 1.5; /* Adjusts the space between lines */
}

#famiglia-center-text p{
  width: 900px;
}

/* menue */

.icon-carta-cow {
  width: 25px;
  max-height: 17px;
  fill: #581616;
  margin-right: 5px;
}

.icon-carta-leaf {
  width: 15px;
  max-height: 15px;
  fill: green;
  margin-right: 5px;
}

.icon-carta-fish {
  width: 20px;
  max-height: 15px;
  fill: darkblue;
  margin-right: 5px;
}


table {
  width: 80%;
  margin: 0 auto; /* zentriert die Tabelle horizontal */
  border-collapse: collapse;
  margin-bottom: 30px;
}

th, td {
  padding: 20px;
  color: black;
  font-size: 18px;
}

/* Spalte 1: linksbündig (Gerichte) */
td:first-child {
  text-align: left;
  word-wrap: break-word; /* Umbruch in Gerichte-Spalten */
}

/* Spalten 2 & 3: zentriert (Preise) */
td:nth-child(2),
td:nth-child(3) {
  text-align: right;
  white-space: nowrap; /* Kein Umbruch in Preis-Spalten */
}

.Gerichte-Kategorie {
  color: #911d0e;
  font-size: 22px;
}

.Gerichte-Kategorie-Beschreibung {
  color: #4C6B3C;
  font-size: 18px;
}

.Allergene {
  font-size: 10px;
}

.carta-container {
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    gap: 100px;
    margin: 0 100px 0 100px;
}

.carta-container img {
    max-width: 300px; /* Adjust size as needed */
}

/* js */

.hidden {
  display: none;
}

.filter-buttons button.active {
  background-color: white;
}

.filter-buttons button:hover {
  background-color: white;
}

.filter-buttons b {
  background-color: white;
}

.filter-buttons button {
  border-radius: 20px;
  cursor: pointer;
  height: 50px;
  background: transparent;
  border: 0;
  padding: 10px;
}

.filter-buttons {
  display:flex;
  justify-content: center;
  gap: 50px;
}